<!DOCTYPE html>
<html>

<head>
    <title>Budget App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&family=Dongle:wght@300;400&family=Mulish:ital,wght@0,200;0,400;0,800;1,200&family=Varela+Round&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/main_style.css" />
</head>

<body>
    <div class="main_content_container">
        <div class="sidebar_container">
            <div class="main_logo_sidebar_container">
                <div class="main_logo_container">
                    <i class="main_logo_image fas fa-wallet"></i>
                    <h1 class="main_logo_text">
                        budge<sup class="super_text">&nbsp;beta</sup>
                    </h1>
                </div>
            </div>
            <div class="main_sidebar_content_container">
                <div class="main_nav_container">
                    <div class="budget_nav_container">
                        <a href="#" class="budget_link side_by_side nav_selected" id="budget_link">
                            <i class="sidebar_nav_img fas fa-clipboard-list"></i>
                            <p class="budget_list">Budget</p>
                        </a>
                        <a href="#" class="budget_link side_by_side" id="budget_link">
                            <i class="sidebar_nav_img fas fa-chart-pie"></i>
                            <p class="budget_list">Overview</p>
                        </a>
                        <a href="#" class="budget_link side_by_side" id="budget_link">
                            <i class="sidebar_nav_img fab fa-product-hunt"></i>
                            <p class="budget_list">Sign up for Pro</p>
                        </a>
                    </div>
                </div>
                <div class="options_and_features_container">
                    <div class="settings_container">
                        <a href="#" class="budget_link side_by_side" id="budget_link">
                            <i class="sidebar_nav_img fas fa-user"></i>
                            <p class="budget_list">Profile</p>
                        </a>
                        <a href="#" class="settings_link side_by_side">
                            <i class="settings_nav_img fas fa-cog"></i>
                            <p class="settings_list">Settings</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main_sidebar_whois_container">
                <div class="whoami_container">
                    <div class="whoami_content_container">
                        <div class="whoami_logo">
                            <h1 class="whoami_logo_txt">UD</h1>
                        </div>
                    </div>
                    <div class="whoami_name_cont">
                        <h1 class="whoami_name_disp">username_disp</h1>
                        <a href="#" class="sign_out_link">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_budget_window_container">
            <div class="main_budget_top_bar">
                <div class="date_container">
                    <h1 class="budget_date">
                        Month <span class="year_span">0000</span>
                    </h1>
                    <i class="year_select_arrow fas fa-chevron-down"></i>
                </div>
                <div class="left_to_budget_container">
                    <p class="left_to_budget_text">
                        <span class="dollar_amount">$0000.00</span> left to budget
                    </p>
                    <p class="left_to_budget_text">
                        <span class="dollar_amount">$0000.00</span> total expenses
                    </p>
                </div>
            </div>
            <div class="main_budget_window">
                <div class="main_item_containers">
                    <div class="main_title_flex_container">
                        <div class="main_title_container">
                            <div class="lead_in_text">
                                <i class="dollar_bill fas fa-money-bill"></i>
                                <p class="category_main_title item_text_fix" id="income_category_title">
                                    Income&nbsp;
                                </p>
                                <p class="category_date_title item_text_fix">
                                    <span class="current_month" id="current_month"> for curMonth</span>
                                </p>
                                <i class=" year_select_arrow collapse_arrow fas fa-chevron-up"></i>
                            </div>
                            <div class="other_header_items">
                                <p class="planned_income item_text_fix planned_disp_left">Planned</p>
                                <p class="received_income item_text_fix">Received</p>
                            </div>
                        </div>
                        <div class="budget_item_row_container">
                            <div class="category_item_name">
                                <p class="category_item_title">Item</p>
                            </div>
                            <div class="amounts_listed">
                                <p class="planned_amount amount_disp_left">$0.00</p>
                                <div class="item_budget_align_fix">
                                    <p class="planned_amount amount_disp_right">$0.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="budget_item_row_container">
                            <div class="category_item_name">
                                <p class="category_item_title">Item</p>
                            </div>
                            <div class="amounts_listed">
                                <p class="planned_amount amount_disp_left">$0.00</p>
                                <div class="item_budget_align_fix">
                                    <p class="planned_amount amount_disp_right">$0.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="add_item_container">
                            <p class="add_item">Add Income</p>
                        </div>
                    </div>
                </div>
                <div class="main_item_containers">
                    <div class="main_title_flex_container">
                        <div class="main_title_container">
                            <div class="lead_in_text">
                                <p class="category_main_title item_text_fix" id="income_category_title">
                                    Title&nbsp;
                                </p>
                                <i class=" year_select_arrow collapse_arrow fas fa-chevron-up"></i>
                            </div>
                            <div class="other_header_items">
                                <p class="planned_income item_text_fix planned_disp_left">Planned</p>
                                <p class="received_income item_text_fix">Received</p>
                            </div>
                        </div>
                        <div class="budget_item_row_container">
                            <div class="category_item_name">
                                <p class="category_item_title">Item</p>
                            </div>
                            <div class="amounts_listed">
                                <p class="planned_amount amount_disp_left">$0.00</p>
                                <div class="item_budget_align_fix">
                                    <p class="planned_amount amount_disp_right">$0.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="add_item_container">
                            <p class="add_item">Add Item</p>
                        </div>
                    </div>
                </div>
                <div class="add_group_container">
                    <div class="add_group_text_cont">
                        <i class="add_group_plus fas fa-plus"></i>
                        <p class="add_group_text">Add Group</p>
                    </div>
                </div>
                <div class="reset_budget_container">
                    <div class="add_group_text_cont reset_budget_text">
                        <i class="add_group_plus far fa-times-circle"></i>
                        <p class="add_group_text reset_text">Reset Budget</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="side_budget_summary_display">
        </div>
    </div>
</body>

</html>