<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&family=Dongle:wght@300;400&family=Mulish:ital,wght@0,200;0,400;0,800;1,200&family=Varela+Round&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" nk rel="stylesheet" nk rel="stylesheet" href="../public/css/signup.css" />
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/signup.css">
</head>

<body>
    <div class="main-program">
        <div class="main-logo">
            <i class="main-logo-img fas fa-wallet"></i>
            <h1 class="main-logo-text">&nbsp;budge<sup class="beta-tag">beta</sup></h1>
        </div>
        <div class="signup-box">
            <div class="signup-head-box">
                <h1 class="email-inst-head">Enter Your Email</h1>
                <p class="call-to-action">to continue to Budge</p>
            </div>
            <div class="input-box">
                <input type="email" id="email-addy" required>
            </div>
            <div class="submit-btn">
                <button type="button" class="sub-button" id="sub-button">Continue</button>
            </div>
        </div>
        <div class="password-box">
            <div class="signup-head-box">
                <h1 class="email-inst-head">Enter a Password</h1>
                <p class="no-match"></p>
            </div>
            <div class="input-box">
                <input type="password" id="pass1" autocomplete="new-password" required placeholder="Enter a Password">
            </div>
            <div class="input-box">
                <input type="password" id="pass2" autocomplete="new-password" required placeholder="Re-enter Your Password">
            </div>
            <div class="submit-btn">
                <button type="button" class="sub-button" id="pass-button">Continue</button>
            </div>
        </div>
    </div>
    <script src="../public/js/signup.js"></script>
</body>

</html>


</html>