/* Universal body styles that normalize.css doesn't fix */

*,
html,
body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    line-height: normal;
    font-family: "Baloo Bhaijaan 2", cursive;
}

a {
    text-decoration: none;
    color: #e7ecef;
}


/* This section will style the main content div */

.main_content_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    background-color: #141414;
    overflow: hidden;
}


/* This sets the style */

.sidebar_container {
    height: 100vh;
    width: 20em;
    background-color: #343434;
}


/* Settings for the top logo container in the sidebar */

.main_logo_sidebar_container {
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #e7ecef;
    border-bottom: 1px solid #e7ecef;
}

.main_logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.main_logo_image {
    font-size: 3em;
    margin-right: 0.25em;
    color: #f26430;
}

.main_logo_text {
    font-size: 2.5em;
}

.super_text {
    font-size: 0.45em;
    color: #f26430;
}


/* This section will style the main navigation menu */

.main_sidebar_content_container {
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #e7ecef;
    padding: 3em 2em;
}

.budget_link {
    margin-bottom: 5px;
}

.side_by_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.side_by_side:hover {
    color: #f26430;
}

.nav_selected {
    color: #00a9a5;
}

.nav_selected:hover {
    color: #00a9a5;
    cursor: text;
}

.settings_nav_img,
.sidebar_nav_img,
.budget_list,
.settings_list {
    font-size: 1.5em;
}


/* This section will style the logged-in section */

.main_sidebar_whois_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
}

.whoami_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 0;
    padding: 1em;
}

.whoami_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    color: #e7ecef;
    border: 1px solid #e7ecef;
}

.whoami_name_disp {
    font-size: 1.5em;
    color: #e7ecef;
}

.sign_out_link {
    color: #f26430;
}


/* This section sets the style for the main budget container*/

.main_budget_window_container {
    width: 60em;
    height: 100vh;
    margin-left: 5%;
}

.main_budget_top_bar {
    margin-top: 0.75em;
    padding-bottom: 1em;
    border-bottom: 1px solid #e7ecef;
    color: #e7ecef;
}

.date_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.budget_date {
    font-size: 2.5em;
}

.year_span {
    color: #9db2be;
    font-size: 1em;
}

.left_to_budget_text,
.dollar_amount {
    font-size: 1.25em;
    margin-top: -10px;
}

.left_to_budget_text {
    color: #9db2be;
}

.dollar_amount {
    color: #e7ecef;
}

.year_select_arrow {
    color: #00a9a5;
    cursor: pointer;
}

.year_select_arrow:hover {
    color: #f26430;
}


/* This section sets the styles for the main budget window */

.main_budget_window {
    height: 84%;
    width: 100%;
    margin-top: 2em;
    overflow-y: scroll;
    box-sizing: content-box;
    color: #141414;
}

::-webkit-scrollbar {
    width: 0;
}


/* This is the section for the line item containers */

.main_item_containers {
    background-color: #e7ecef;
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 1em 2em;
}

.main_title_flex_container {
    display: flex;
    flex-direction: column;
}

.main_title_flex_container p {
    font-size: 1.5em;
}

.current_month {
    font-size: 1.5rem;
    color: #9db2be;
}

.main_title_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lead_in_text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.other_header_items {
    display: flex;
    flex-direction: row;
}

.budget_item_row_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #343434;
    margin-top: 0.5em;
}

.amounts_listed {
    display: flex;
    flex-direction: row;
}

.add_item_container {
    margin-top: 1em;
    font-size: .75em;
    color: #00a9a5;
    cursor: pointer;
}

.add_item {
    font-weight: 600;
}

.collapse_arrow {
    margin-left: 8px;
}

.dollar_bill {
    margin-right: 5px;
    color: green;
}

.planned_disp_left {
    margin-right: 5em;
}

.amount_disp_left {
    margin-right: 2.25em;
}

.item_budget_align_fix {
    text-align: right;
    width: 10em;
}


/* This section sets the styles for the add group container */

.add_group_container {
    background-color: #e7ecef;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 2em;
}

.add_group_text_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.add_group_plus {
    color: #00a9a5;
}

.add_group_text {
    color: #141414;
    font-weight: 600;
    font-size: 1.3em;
    margin-left: 0.5em;
}

.add_group_text:hover {
    color: #00a9a5;
}


/* This section sets the styles for the reset budget container */

.reset_budget_container {
    margin: 3em 2em;
}

.reset_text {
    color: #e7ecef;
}


/* This section sets the styles for the copyright container */

.copy_and_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.copy_text {
    font-size: 1.25em;
    color: #e7ecef;
    font-weight: 600;
}

.linkout {
    font-size: 1.25em;
    font-weight: 600;
}

.codes_text {
    font-size: 1.1em;
    color: #f26430;
    font-weight: 600;
}


/* This section sets the style for the budget summary container */

.side_budget_summary_display {
    width: 25%;
    height: 100vh;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* This will set the style for the add transactions container */

.top_links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 1em;
    gap: 3em;
}

.top_links_fix {
    color: #e7ecef;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.add_transaction_button {
    color: #f26430;
    font-size: 2em;
}

.add_tran_btn_green {
    color: green;
}


/* This will set the styles for the budget summary display */

.main_side_budget_cont {
    width: 80%;
    height: 70%;
    background-color: aqua;
    margin-top: 10%;
}